body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.games {
    display: flex;
    gap: 30px;
}
.game {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}